{% include 'temp/header.twig' %}

<div class="form">
    <div>
        <h1>Добро пожаловть!</h1>
        <div class="desc">Для тестирования MVC, Вам надо войти в кабинет или зарегистрироваться</div>
    </div>
    <a href="/user/pageReg" class="link">Регистрация</a>
    <a href="/user/pageAuth" class="link">Вход</a>
</div>


{% include 'temp/footer.twig' %}