old_git/
.idea/

final-project/idea/

final-project/dz-0/.idea/
final-project/dz-1/.idea/
final-project/dz-2/.idea/
final-project/dz-3/.idea/
final-project/dz-4/.idea/
final-project/dz-5/.idea/
final-project/dz-6/.idea/
final-project/dz-7/.idea/

final-project/dz-5/vendor/
final-project/dz-6/vendor/
final-project/dz-7/vendor/


homework/idea/

homework/burgers/.idea/
homework/mvc/.idea/
homework/mvc2/
homework/tourist/.idea/
homework/laravel/.idea/

homework/burgers/vendor/
homework/mvc/vendor/
homework/mvc/vendor/
homework/mvc/.env/
homework/mvc/core/config.php/
homework/tourist/vendor/
homework/laravel/vendor/
